version: "3"

services:
  postgres:
    image: postgres
    container_name: nplay-database
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  grafana:
    image: grafana/grafana
    container_name: nplay-grafana
    restart: always
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD}
    ports:
      - "3000:3000"
    depends_on:
      - postgres

  bot:
    image: ghcr.io/kaktushose/levelbot/nplaybot:latest
    container_name: nplay-bot
    restart: on-failure
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_URL: ${POSTGRES_URL}
      POSTGRES_DB: ${POSTGRES_DB}
      BOT_GUILD: ${BOT_GUILD}
    labels:
      - com.centurylinklabs.watchtower.enable="true"
    volumes:
      - ./data/logs:/logs
    depends_on:
      - postgres

  watchtower:
    image: containrrr/watchtower
    container_name: nplay-watchtower
    environment:
      TZ: Europe/Berlin
      WATCHTOWER_LABEL_ENABLE: true
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_POLL_INTERVAL: 30
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
