<configuration>
    <timestamp key="myTimestamp" datePattern="MM.dd.yyyy"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./levelbot.log</file>
        <encoder>
            <Pattern>%date [%t] %level %logger - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="ANALYTICS-FILE" class="ch.qos.logback.core.FileAppender">
        <file>./analytics.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date [%t] %level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="analytics" level="DEBUG" additivity="false">
        <appender-ref ref="ANALYTICS-FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
